/* 底部导航栏整体布局 */
.Phonefooter{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 99;
}

/* 按钮整体布局 */
.TabButtonItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #3FBBFE;
}

/* 按钮文字区域布局 */
.ButtonText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .625rem;
    font-weight: 500;
    height: 40px;
}

.TabButtonLine{
    width: 100%;
    height: .1875rem;
    /* border: 3px solid ; */
    /* background: linear-gradient(270deg, #3FBBFE, #A541FF); */
}