.tliser {
  position: fixed;
  top: 23px;
  z-index: 999999999;
  right: 195px;
  cursor: pointer;
}
.tliser:hover .nsuer {
  display: block;
}
.posinsd {
  position: relative;
}
.nsuer {
  position: absolute;
  display: none;
  width: 130px;
  left: -80px;
  padding-top: 5px;
  padding-bottom: 5px;
  top: 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 12px -8px rgb(25 19 38 / 10%);
  overflow: hidden;
}
.guing {
  width: 23px;
  height: 23px;
  background-image: url('../../image/gjhu.svg');
  background-size: 100%;
}
.nsuer_it {
  height: 33px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  border: none !important;
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
