html,
body,
div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    /* height: 100% ; */
    width: 100% ;
}

/* 全局隐藏滚动条 */
::-webkit-scrollbar{
    display: none !important;
}

.ihCizU{
    overflow-x: inherit !important;
}

.element::-webkit-scrollbar { width: 0 !important }

.eIbyFk{
    white-space:nowrap !important;
}

.kvddcW > div:nth-child(3) > div:nth-child(2){
    width: 466px !important;
}

/* .iBZLqn div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*
.gxQUQn > div > .jnvqfy div:nth-child(2){
    display: flex;
    justify-content: flex-end;
} */
/* .jdZMgX{
    display: block !important;
    position:absolute !important;
    top: 0px !important;
}
.hHWUnk{
    display: block  !important;
} */

/* 移动对准问号产生的弹窗 */
.eEnRwb{
    width: 250px;
    display: flex;
    justify-content: center;
}

/* 修复鼠标移开？时候产生的闪动问题 */
.cwvTKS{
    display: none;
}

/* 等待确认弹窗的文字字样 */
.igfKG > .eIbyFk {
    color:#3FBBFE;
}

.igfKG > .hElrcP{
    color:#3FBBFE;
}

.diWDkO > .bBmbUm > .ZWIRJ > .egMrFR{
    color:#3FBBFE;
}

/* .kvddcW > button .htQCGm{
    background-color:linear-gradient(270deg, #3FBBFE, #A541FF) !important;
} */

/* 左下角显示价格字样 */
.pSNhC:first-child > div  {
    width: 250px ;
}

/* 滚动条 */
.cjuMmG > .iurQOc{
    margin: 0 !important;
    width: 100% !important;
}

/* 滑动条下边距为零 */
.brmTqb{
    margin: 0 !important;
}

/* 供应和交换按钮背景色 */
.gTKfAE button,.htQCGm{
    background: linear-gradient(270deg, #3FBBFE, #A541FF) ;
}

/* 交易成功后隐藏掉长的提示框 */
.kiDFWL{
    display: none !important;
}

/* 交易成功后右上角弹窗位置 */
.dhisyc > .hHWUnk{
    display: block !important;
    z-index: 3 !important;
    max-width: inherit !important;
    width: auto ;
    right: 0 ;
    top: 120px;
}

.hHWUnk > .jdZMgX{
    width: 400px;
}

/* 交易成功右边的提示框 图标宽度 */
.hHWUnk .jdZMgX > .ictEKc > div:first-child{
    width: 50px !important;
}

@media only screen and (min-width: 300px) and (max-width: 640px){
    .pSNhC:first-child > div{
        width: 275px;
    }

    /* 手机端显示弹窗的位置 */
    .dhisyc > .hHWUnk{
        top: inherit !important;
        bottom: 55px;
    }
}