.hzbhAV {
  border: none !important;
  background-color: transparent !important;
  padding-left: 0px !important;
}
.cjhYVX {
  background-color: rgb(2, 50, 99) !important;
}
.lgyrlz {
  background-color: rgb(2, 50, 99) !important;
}
.gvUHaZ {
  background-color: rgb(2, 50, 99) !important;
}
.gHvgnu {
  background-color: rgb(2, 50, 99) !important;
}
.SfwyR {
  fill: rgb(133, 133, 133) !important;
}
.kdpZGH {
  color: rgb(97, 97, 97) !important;
}
.ieVaLT svg {
  fill: rgb(133, 133, 133) !important;
}
.cQFUQQ svg {
  fill: rgb(225, 120, 16) !important;
}
.cQFUQQ {
  box-shadow: inset 4px 0px 0px rgb(225, 120, 16) !important;
}
.buAAMI {
  background-color: rgb(212, 223, 241) !important;
}
.dILQHH {
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
}
.gnxxQF {
  color: rgb(225, 120, 16) !important;
}
.hLlXtp {
  background-color: rgb(2, 50, 99) !important;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) !important;
}
.bBcoTr {
  background-color: rgb(1, 42, 84) !important;
}
.gcQKnf {
  fill: rgb(225, 120, 16) !important;
}
.iMRokR {
  background-color: rgb(1, 42, 84) !important;
}

.GpOXk .fgiAxh {
  color: rgb(225, 120, 16) !important;
}
.fDZFAh {
  color: #fff !important;
}
.krHdxM {
  color: #fff !important;
}
.fLiQTZ .hFmlgK {
  background-color: rgb(225, 120, 16) !important;
}
.lmyila {
  color: rgb(225, 120, 16) !important;
}
.jcQTaw {
  color: #fff !important;
}
.gNXmx {
  color: rgb(97, 97, 97) !important;
}
.fgiAxh {
  color: #fff !important;
}
.cUMPjy {
  color: #fff !important;
}
.fsbHO {
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
}
.licvhJ {
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
}
.gcCDSt {
  box-shadow: none !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: rgb(225, 120, 16) !important;
}
.TrMyr {
  color: rgb(225, 120, 16) !important;
}
.cmgQZW {
  color: rgb(225, 120, 16) !important;
}

.ZRTkq {
  color: rgb(225, 120, 16) !important;
  box-shadow: none !important;
  background-color: rgb(226, 226, 226) !important;
}
.eSUmRK {
  color: rgb(225, 120, 16) !important;
}
.dgeWbl {
  color: rgb(225, 120, 16) !important;
}
.ekvOwU {
  color: rgb(225, 120, 16) !important;
}
.fhRQWD {
  color: rgb(225, 120, 16) !important;
}
.hhtZJq .pancake:nth-child(1) {
  /* display: none !important; */
  background-color: #fff !important;
  box-shadow: none !important;
}
.iPfNvM:checked + label .pancake:nth-child(1) {
  box-shadow: none !important;
  background-color: #fff !important;
}
.fkOgEg {
  height: 36px !important;
}
.hhtZJq .pancake:nth-child(2) {
  display: none !important;
}
.hhtZJq .pancake:nth-child(3) {
  display: none !important;
}
.hhtZJq .butter {
  display: none !important;
}
.fkOgEg {
  background: rgb(225, 120, 16) !important;
}
.iaaNqp .cuuOmQ {
  fill: #fff !important;
}
.gobprm:hover {
  background-color: rgb(225, 120, 16) !important;
}
.euyZTa:hover {
  background-color: rgb(225, 120, 16) !important;
}
.fhQBRO .cUMPjy {
  color: rgb(225, 120, 16) !important;
}
.botGMG .fgiAxh {
  color: rgb(225, 120, 16) !important;
}
.fhQBRO .kqVKBK {
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
  color: #fff !important;
}
.cBPlZK {
  color: rgb(225, 120, 16) !important;
}
.kLrZCd {
  background-color: rgb(238, 238, 228) !important;
}
.IBCCR {
  color: rgb(225, 120, 16) !important;
}
.jukfzI {
  color: rgb(225, 120, 16) !important;
}
.fQmSCr {
  fill: rgb(225, 120, 16) !important;
}
.huihyY .desktop-icon {
  display: none !important;
}
.huihyY {
  width: 145px;
  height: 39px;
  background: url('../image/lsues.png');
  background-size: 100% 100%;
}
.iSspAz {
  display: none !important;
}
.gLmwqd {
  justify-content: center !important;
}
/* .kBtuwM {
  display: none !important;
} */
.hwrYDt {
  fill: rgb(225, 120, 16) !important;
}
.fQMzPR {
  width: 33px !important;
  height: 33px !important;
  border: 2px solid rgb(225, 120, 16) !important;
  border-radius: 20px !important;
  background: url('../image/txioi.png');
  background-size: 100% 100%;
}
.fQMzPR .cuuOmQ {
  display: none !important;
}
.cjuMmG .kqVKBK {
  background-color: rgb(225, 120, 16) !important;
  color: #fff !important;
}
.botGMG .cuuOmQ {
  fill: rgb(225, 120, 16) !important;
}
.hElrcP .kTrCXz {
  color: rgb(225, 120, 16) !important;
}
.hFmlgK .kTrCXz {
  fill: #fff !important;
}
.hgPPDW span {
  color: rgb(225, 120, 16) !important;
}
.inTkhS .jcQTaw {
  color: rgb(225, 120, 16) !important;
}
.fhwWC {
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
}
.eAfeLT .fgiAxh {
  color: rgb(225, 120, 16) !important;
}
.botGMG .jcQTaw {
  color: rgb(145, 145, 145) !important;
}
.lkLplH .eHgAlQ {
  color: rgb(225, 120, 16) !important;
}
.jcQTaw .dLutLP {
  color: rgb(225, 120, 16) !important;
}
.inTkhS .kpCMvp {
  color: rgb(225, 120, 16) !important;
}
.hElrcP .kTrCXz {
  fill: rgb(225, 120, 16) !important;
}
.egMrFR {
  color: rgb(225, 120, 16) !important;
}
.dLutLP .kTrCXz {
  fill: rgb(225, 120, 16) !important;
}
.ezLWPW[data-reach-dialog-content] {
  background-color: rgb(2, 50, 99) !important;
  border: none !important;
}
.fnujIc {
  background-color: rgb(2, 50, 99) !important;
  border: none !important;
}
.gMLKpF[data-reach-dialog-content] {
  background-color: rgb(2, 50, 99) !important;
  border: none !important;
}
.botGMG .bwZzJb {
  background-color: rgb(225, 120, 16) !important;
  color: #fff !important;
}
.bwZzJb .jcQTaw {
  color: #fff !important;
}
.cXBWwu{
  background-color:rgb(225, 120, 16) !important;
}
.bBcoTr{
  border-bottom: 1px solid rgb(225, 120, 16) !important;
}
.kPmfeC{
  border: 1px solid rgb(225, 120, 16) !important;
}
.hLlXtp{
  color: rgb(143, 143, 143) !important;
}
.coDfVO{
  color: rgb(143, 143, 143) !important;
}
.hhFJlm{
  background-color: rgb(2, 50, 99) !important;
  border: none !important;
}
.GpOXk{
  border: 1px solid rgb(225, 120, 16) !important;
  background-color:  rgb(1, 42, 84) !important;;
}
.eaOpWQ{
  border-bottom: 1px solid rgb(225, 120, 16) !important;
}
.borWWY{
  background-color:  rgb(1, 42, 84) !important;;
}
.yFRuY{
  background-color:  rgb(1, 42, 84) !important;;
}
.htQCGm{
  box-shadow: none !important;
  background-color: rgb(225, 120, 16) !important;
}
.fwbsDm{
  color: #fff !important;
}
.kZvVkL{
  color: #fff !important;
}
.EmPHT{
  color: #fff !important;
}
.cSrbEE{
  color: rgb(225, 120, 16) !important;
}
.kqVKBK{
  color: rgb(225, 120, 16) !important;
}
.eHgAlQ{
  color: rgb(225, 120, 16) !important;
}
.pSNhC{
  color: #fff !important;
}
.evkjzG{
  color: #fff !important;
}
.hXtPLs{
  color: #fff !important;
}
.hzHtsS{
  color: #fff !important;
}
.bJczUQ{
  color: rgb(225, 120, 16) !important;
}
.hHtEZD{
  color: rgb(225, 120, 16) !important;
}
.dshCLr{
  border-color: rgb(225, 120, 16) !important;
  color: rgb(225, 120, 16) !important;
}
.ctaZne{
  fill: rgb(225, 120, 16) !important;
}
.bCeRYR{
  color: #fff !important;
}
.GTZLu{
  fill: rgb(225, 120, 16) !important;
}
.eUyDuv{
  background-color: rgb(2, 50, 99) !important;
}
.cUfjcy{
  background-color: rgb(2, 50, 99) !important;
}
/* background-color: rgb(225, 120, 16) !important; */
@media only screen and (min-width: 300px) and (max-width: 640px) {
  #root {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
  }
  .cjhYVX {
    height: 100% !important;
    position: relative !important;
  }
  .bdhUmW {
    height: 100% !important;
    position: relative !important;
  }
  .Busdgei {
    overflow: visible !important;
    overflow-y: visible !important;
  }
  .nuseir {
    flex-wrap: wrap !important;
    width: 100% !important;
    padding-left: 0px;
  }
  .boEwyd {
    height: 100% !important;
    /* display: none !important; */
  }
  .snuoem1 {
    padding: 20px 20px 0px 20px;
  }
  .snuoem1 .nuserili .suit {
    font-size: 28px !important;
    line-height: 36px;
  }
  .snuoem1 .nuserili .suit2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .suit3 {
    margin-top: 10px;
  }
  .suit3 .licvhJ {
    height: 40px !important;
    border-radius: 10px;
  }
  .snuoem2 img {
    height: 450px;
    width: 450px;
    max-width: 450px !important;
  }
  .Nuseir {
    width: 100%;
  }
  .kuinjs {
    flex-wrap: wrap;
  }
  .lindt {
    font-size: 17px;
    margin-bottom: 5px;
  }
  .kuinjs .kitem {
    flex: none !important;
    width: 50%;
    margin-bottom: 30px;
    text-align: center !important;
  }
  .byusis {
    padding-top: 30px;
    font-size: 25px;
  }
  .kymseri {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .keitem {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .nuisei {
    padding-top: 30px;
  }
  .usies {
    width: 100%;
  }
  .imstim {
    width: 50%;
  }
  .nuisei {
    width: 50%;
  }
  .imstim img {
    height: 130px;
    width: 130px;
  }
  .usfron {
    text-align: center;
    padding: 30px 70px 30px 70px;
  }
  .kymseri {
    padding-bottom: 30px !important;
  }
  .oIines1 .aeuis {
    width: 100%;
    /* flex-wrap: wrap; */
  }
  .rdnuise img {
    height: 190px;
    width: 200px;
  }
  .sentitle {
    font-size: 16px !important;
    padding: 10px;
    padding-left: 20px;
  }
  .nUsier {
    font-size: 13px;
    line-height: 20px !important;
    padding-left: 20px;
  }
  .Nsbuton {
    padding: 10px 10px 10px 20px;
  }
  .Nsbuton .licvhJ {
    height: 40px !important;
    border-radius: 10px;
  }
  .limgne {
    width: 100%;
  }
  .limgne img {
    height: 450px;
    max-width: 450px;
  }
  .snuseit {
    padding-bottom: 30px;
  }
  .lbyLvz {
    position: relative !important;
    height: 100% !important;
  }
  .poosido {
    overflow: visible !important;
    overflow-y: visible !important;
    position: static;
  }
  .pooidshe {
    width: 100% !important;
    height: 100% !important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .busidng .licvhJ {
    width: 160px !important;
  }
  .kitem {
    margin-bottom: 10px !important;
    font-size: 14px;
  }
  .buyser {
    height: 100% !important;
    flex-wrap: wrap;
  }
  .busedrin {
    margin-bottom: 20px !important;
  }
  .kitem {
    flex: none !important;
    width: 100%;
    text-align: left;
  }
  .kitem:last-child {
    margin-bottom: 0px !important;
  }
  .buyser2 {
    font-size: 15px;
  }
  .busiernr {
    width: 100%;
    flex-wrap: wrap;
  }
  .buitme {
    flex: auto;
    margin-bottom: 20px;
  }
  .nsueriti {
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .busiernr {
    margin-top: 30px !important;
  }
  .falirtie {
    padding: 20px;
    width: 100%;
  }
  .framHsi {
    padding-left: 10px;
    padding-right: 10px;
    overflow: visible !important;
    overflow-y: visible !important;
  }
  .frisher {
    width: 100%;
  }
  .nuseoo_les1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .nuseoo_les_i {
    flex: none !important;
    width: 25%;
  }
  .nuseoo {
    flex-wrap: wrap;
    padding: 10px;
  }
  .auis4 {
    padding-right: 0px;
  }
  .auis1 {
    text-align: center;
  }
  .auis2 {
    text-align: center;
  }
  .auis3 {
    text-align: center;
  }
  .auis4 {
    text-align: center;
  }
  .nuseoo_les {
    flex: none !important;
    width: 100%;
    padding: 0px;
  }
  .nuseoo_les3 {
    width: 100%;
    padding-top: 10px;
  }
  .dkise {
    width: 100%;
    justify-content: right;
  }
  .huihyY .mobile-icon {
    display: none !important;
  }
  .hsfIqo {
    margin-right: 10px !important;
  }
  .cjuMmG .kqVKBK {
    background-color: rgb(225, 120, 16) !important;
    box-shadow: none;
    color: #fff !important;
  }
  .fQMzPR {
    display: none !important;
  }
  .huihyY {
    width: 112px;
    height: 30px;
    margin-top: 8px;
  }
  .hzbhAV {
    background-color: rgb(2, 50, 99) !important;
  }
  .tliser {
    right: 155px !important;
  }
}
.kBtuwM {
  display: none !important;
}





